{% extends 'layout.html' %}

{% block content %}
<h1>POST</h1>

<!--
    safe interpreta etiquetas escritas desde el admin
    striptags quita las etiquetas y deja el texto
    truncatechars:<num> solo muestra hasta num de texto
-->
{% for post in posts %}

<div class="p-3">
    <div class="card card-body bg-dark bg-gradient">

        <div class="row">
            <div class="col-3">
                <img src="{{post.image.url}}" alt="{{post.title}}" class="img-fluid">
            </div>
    
            <div class="col-9">
                <h2>{{post.title}}</h2>
                <p>{{post.description|striptags |truncatechars:100}}</p>
                <p>{{post.date|date:'M d Y'}}</p>
    
                <a href="{% url 'blog:post_detail' post.id %}" class="btn btn-primary">{{post.title}}</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}