{% extends 'layout.html' %}

{% block content %}

<!--
    safe interpreta etiquetas escritas desde el admin
    striptags quita las etiquetas y deja el texto
    truncatechars:<num> solo muestra hasta num de texto
-->



<div class="text-center">
    <h2>{{post.title}}</h2>
    <img src="{{post.image.url}}" alt="{{post.title}}" class="img-fluid">
    <h3 class="my-3 h5 text-muted">{{post.date}}</h3>
    
    <div class="my-4">
        <p>{{post.description|safe}}</p>
    </div>

</div>


{% endblock %}