{% extends 'layout.html' %}


{% block content %}

{% load static %}

<header class="row">
    <div class="col-md-4">
        <img src="{% static 'portfolio/profile.jpeg' %}" alt="">
    </div>
    <div class="col-md-8">
        <h1>I am <strong>Emher</strong></h1>
        <h3>I am a Python developer</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit obcaecati velit, repellendus officia libero
            ipsum
            quam exercitationem ex maiores culpa? Culpa ducimus ipsum quaerat nihil accusantium illo? Enim itaque aut
            molestiae.
            Temporibus animi voluptatum obcaecati itaque et aliquam at, quae, molestiae architecto in praesentium
            adipisci
            veniam consequuntur magnam culpa? Consequuntur, qui? Deleniti eligendi quo facilis et suscipit voluptas
            velit
            temporibus. Distinctio assumenda consequatur deleniti nisi consectetur magnam a natus eius doloremque!
            Aliquam
            distinctio architecto doloribus nulla maiores fuga ducimus unde deserunt id recusandae odio consequuntur cum
            assumenda magni at, sequi inventore nam! Similique explicabo minima tenetur eveniet facere ipsum voluptate.
        </p>
        <a href="{% static 'portfolio/cv.pdf' %}" class="btn btn-primary btn-lg rounded-0 my-3">Download CV</a>
    </div>
</header>

<div class="row">
    <h3>My projects</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo fuga praesentium voluptas cum magni
        voluptatem
        odit est labore eos vel! Provident molestias fugiat possimus atque porro in quisquam deleniti delectus!</p>
    

    {% for project in projects %}

    <div class="col-md-4 p-4">
        <div class="card bg-dark card-project">
            <img src="{{project.image.url}}" alt="{{project.title}}" class="card-img-top">
            <div class="card-body">
                <h2>{{project.title}}</h2>
                <p>{{project.description}}</p>

                {% if project.url %}

                <a class="btn btn-light btn-sm" target="_blank" href="{{project.url}}">{{project.url}}</a>
                {% endif%}

            </div>
        </div>

    </div>
    {% endfor %}

</div>

{% endblock%}